div a.navigationA{
	color: white;
	text-decoration: none;
}

div h3.navigationA{
	color:white;
}

div a.navigationA:hover{
	color:grey;
}

.fill{
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.fill img {
    flex-shrink: 0;
    margin-top:-2%;
    margin-left: 23%;
    width:50%;
    -webkit-filter: blur(7px);
    filter: blur(7px);
}

.img__description {
  position: absolute;
  color: #000;
  text-align:center;
  padding-top: 6%;
}

.textFont{
	font-family: Dosis;
	color: white;
	font-weight: 900;
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
  margin-right: 1%;
  margin-left: 1%;
}

.projectHead{
	position: relative;
	margin-top:70px;
	margin-bottom:0;
	height: 300px;
}

.projectHead div{
   position: absolute; 
   top: 0px; 
   width: 100%; 
}