.header{
  font-family: Dosis; 
  font-style: italic; 
  font-weight: 50px; 
  color:#000000; 
  font-size: 370%; 
  margin:0 auto;
  margin-bottom: 10px;
}

div a.navigationA{
	color: white;
	text-decoration: none;
}

div h3.navigationA{
	color:white;
}

div a.navigationA:hover{
	color:grey;
}

.fill{
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.fill img {
    flex-shrink: 0;
    margin-top:-20%;
    margin-left: 18%;
    width:70%;
    -webkit-filter: blur(6px);
    filter: blur(6px);
}

.img__description {
  position: absolute;
  color: #000;
  text-align:center;
  padding-top: 5%;
}

.textFont{
	font-family: Dosis;
	color:white;
	font-weight: 900;
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
  margin-left: 11%;
  margin-right: 11%;
}

.projectHead{
	position: relative;
	margin-top:70px;
	margin-bottom:0;
	height: 300px;
}

.projectHead div{
   position: absolute; 
   top: 0px; 
   width: 100%; 
}
